@font-face {
  font-family: iranYekan;
  src: url(../assets/fonts/iranyekanwebbold.woff2);
}

* {
  margin: 0;
  padding: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ol, ul {
  list-style-type: none;
}

body {
  direction: rtl;
  font-family: 'iranYekan';
  font-weight: 400;
}

.container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 567px) {
  .container {
    display: block;
  }
}

.row-right {
  width: 20%;
  background-color: #E6E6E6;
  min-height: 100vh;
  padding: 1rem;
}

@media only screen and (max-width: 1200px) {
  .row-right {
    width: 25%;
  }
}

@media only screen and (max-width: 992px) {
  .row-right {
    width: 30%;
  }
}

@media only screen and (max-width: 756) {
  .row-right {
    width: 40%;
  }
}

@media only screen and (max-width: 567px) {
  .row-right {
    width: 100%;
    min-height: auto;
  }
}

.row-left {
  padding: 1rem;
}

.row-left p > a {
  color: #4CC300;
}

.row-left h2 {
  margin-bottom: 1rem;
}

.green-line, .green-line-light {
  width: 100%;
  height: .2rem;
  background-color: #4CC300;
  display: block;
  margin: .5rem 0;
}

.green-line-light {
  height: .1rem;
}

span.icon-img {
  background-color: #7D8387;
  border-radius: 100%;
  font-size: 2rem;
  padding: .4rem;
  color: #fff;
  display: inline-block;
  margin-left: .7rem;
}

.icon-hilite {
  font-size: 1.5rem;
}

.user-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: .5rem 1rem;
  margin-bottom: .6rem;
  border-radius: .5rem;
  color: #666666;
  -webkit-transition: all .3s;
  transition: all .3s;
}

ul li a:hover {
  background-color: #7FDF64;
  color: #3A4045;
}

ul li a span {
  margin-left: .5rem;
}

ul li a.active {
  background-color: #7FDF64;
  color: #3A4045;
}

ul li {
  width: 100%;
  border-bottom: .1rem solid #4CC300;
  margin-top: .6rem;
}

ul li:last-child {
  border: none;
}
