@font-face {
  font-family: 'hilite';
  src:  url('fonts/hilite.eot?foik0w');
  src:  url('fonts/hilite.eot?foik0w#iefix') format('embedded-opentype'),
    url('fonts/hilite.ttf?foik0w') format('truetype'),
    url('fonts/hilite.woff?foik0w') format('woff'),
    url('fonts/hilite.svg?foik0w#hilite') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="hl-"], [class*=" hl-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'hilite' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hl-add-banner:before {
  content: "\e900";
}
.hl-ad-native:before {
  content: "\e901";
}
.hl-ad-push:before {
  content: "\e902";
}
.hl-advertise:before {
  content: "\e903";
}
.hl-banner:before {
  content: "\e904";
}
.hl-cart:before {
  content: "\e905";
}
.hl-cart-arrows:before {
  content: "\e906";
}
.hl-chart:before {
  content: "\e907";
}
.hl-chart-b:before {
  content: "\e908";
}
.hl-chart-circle:before {
  content: "\e909";
}
.hl-chart-money:before {
  content: "\e90a";
}
.hl-chart-solid:before {
  content: "\e90b";
}
.hl-danger:before {
  content: "\e90c";
}
.hl-discount:before {
  content: "\e90d";
}
.hl-discount-circle:before {
  content: "\e90e";
}
.hl-dollar:before {
  content: "\e90f";
}
.hl-list-dollar:before {
  content: "\e910";
}
.hl-list-number:before {
  content: "\e911";
}
.hl-logout:before {
  content: "\e912";
}
.hl-logout-a:before {
  content: "\e913";
}
.hl-logout-b:before {
  content: "\e914";
}
.hl-message-help:before {
  content: "\e915";
}
.hl-messages:before {
  content: "\e916";
}
.hl-microphone:before {
  content: "\e917";
}
.hl-microphone-help:before {
  content: "\e918";
}
.hl-money:before {
  content: "\e919";
}
.hl-money-down-arrows:before {
  content: "\e91a";
}
.hl-money-two-arrows:before {
  content: "\e91b";
}
.hl-monies:before {
  content: "\e91c";
}
.hl-native:before {
  content: "\e91d";
}
.hl-n-banner:before {
  content: "\e91e";
}
.hl-n-native:before {
  content: "\e91f";
}
.hl-notification:before {
  content: "\e920";
}
.hl-notification-solid:before {
  content: "\e921";
}
.hl-n-push:before {
  content: "\e922";
}
.hl-panel:before {
  content: "\e923";
}
.hl-panel-a:before {
  content: "\e924";
}
.hl-place:before {
  content: "\e925";
}
.hl-push:before {
  content: "\e926";
}
.hl-push-a:before {
  content: "\e927";
}
.hl-setting:before {
  content: "\e928";
}
.hl-setting-banner:before {
  content: "\e929";
}
.hl-setting-native:before {
  content: "\e92a";
}
.hl-setting-push:before {
  content: "\e92b";
}
.hl-success:before {
  content: "\e92c";
}
.hl-ticket:before {
  content: "\e92d";
}
.hl-ticket-add:before {
  content: "\e92e";
}
.hl-ticket-discount:before {
  content: "\e92f";
}
.hl-tickets:before {
  content: "\e930";
}
.hl-unlock:before {
  content: "\e931";
}
.hl-user:before {
  content: "\e932";
}
.hl-user-a:before {
  content: "\e933";
}
.hl-users:before {
  content: "\e934";
}
.hl-user-solid:before {
  content: "\e935";
}
.hl-view:before {
  content: "\e936";
}
.hl-view-circle:before {
  content: "\e937";
}
.hl-view-list:before {
  content: "\e938";
}
.hl-view-setting:before {
  content: "\e939";
}
.hl-view-user:before {
  content: "\e93a";
}
.hl-warning:before {
  content: "\e93b";
}
